html {
    --dark-color: #152951;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    background-color: var(--dark-color);
}

.searchInput {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.searchIcon {
    padding: 10px;
}

#todayWeather {
    /* background-image: linear-gradient(to right, rgb(255, 168, 53) , rgb(253, 253, 84)); */ /* Sunny */
    /* background-image: linear-gradient(to right, rgb(117, 117, 182), rgb(133, 106, 168)); Cloudy */
    background-image: linear-gradient(to right, rgb(63, 186, 190), rgb(99, 145, 212)) /* Daytime part cloudy */
}

#searchHistory {
    height: auto;
}

.sliderItem {
    padding: 10px
}

.cityChip {
    border-radius: 15px;
    padding-right: 8px;
}

.closeBtn {
    width: 14px;
    height: 14px;
    margin-bottom: 3px;
    margin-left: 8px;
    background-color: #c0c0c0;
}

.todayWeatherSection {
    padding: 10px 20px;
}

.forecastCardWrapper {
    margin-bottom: 20px;
}

.forecastCard {
    padding: 20px 10px;
    border-radius: 8px;
    background-color: var(--dark-color);
}

.forecastDate {
    margin-bottom: 10px;
}



/* For smaller screens */
@media only screen and (max-width: 639px) {
    header {
        padding: 0 10px;
    }

    #logoType {
        margin-left: 6%;
        margin-top: -10px;
    }

    #searchForm {
        margin-left: 30px;
    }

    #logoWrapper {
        height: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #headerSearchBar {
        padding: 0;
    }

    .weatherGraphic {
        padding: 0;
    }
}